{% load static %}

{% if employee_list %}
    <h2> Plant Employees </h2>
    <ul>
    {% for employee in employee_list %}
        <li>{{ employee.first_name }} {{employee.last_name}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No info is available.</p>
{% endif %}
    <br>
    <h2> Equipment Units </h2>
{% if unit_list %}
    <ul>
    {% for unit in unit_list %}
        <li>{{ unit.unit_number }} {{unit.name}}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>No units are available.</p>
{% endif %}
    <br>
